@import './main'

main
  height: 100vh
  display: flex
  gap: 40px
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  user-select: none
  animation: fadeIn 1.5s ease-in-out

  .icon-container
    display: flex
    gap: 0px
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center

    img
      height: 120px
    
    h1
      color: $primary-color
      font-family: $titles
      font-size: 2.5rem

  .p-intro
    width: 80%
    max-width: 600px
    color: $black
    font-family: $paragraphs
    font-size: 1.15em

  button
    width: 80%
    max-width: 125px
    height: 50px
    border: none
    border-radius: 10px
    background-color: $primary-color
    color: $white
    font-family: $paragraphs
    font-size: 1.25rem
    cursor: pointer

    &:hover
      background-color: $primary-color-light
    
    & > a
      color: $white
      text-decoration: none

  .p-sign-in
    width: 80%
    max-width: 600px
    color: $black
    font-family: $paragraphs
    font-size: 1.25rem

    & > a
      color: $primary-color
      font-weight: bold
      cursor: pointer
      text-decoration: underline

      &:hover
        color: $primary-color-light

@keyframes fadeIn
  from
    opacity: 0
    margin-top: -50px
  to
    opacity: 1
    margin-top: 0
