@import './main'

.main-page
  width: 100%
  height: 100vh

  header
    width: 100%
    height: 100px
    display: flex
    justify-content: center
    align-items: center
    border-bottom: 2px solid $grey-border

    .main-page-logout-icon
      width: 40px
      height: 40px
      cursor: pointer

    .main-page-profile-color
      width: 70px
      height: 70px
      border-radius: 50%
      margin: 15px
    
    .main-page-add-contact-icon
      width: 50px
      height: 50px
      cursor: pointer

  section
    width: 100%
    height: calc(100% - 100px)

    aside
      width: 30%
      min-width: 350px
      height: 100%
      border-right: 2px solid $grey-border

  .add-contact-background
    width: 100%
    height: 100vh
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.5)

    .add-contact-card
      width: 50%
      height: 70%
      border-radius: 10px
      background-color: $white
      display: flex
      flex-direction: column
      justify-content:  center

      .close-btn
        height: 5%
        width: 10%
        font-family: $titles
        margin-right: auto
        margin-left: auto
        margin-top: 10%

      
      .add-contact-profile-color
        width: 70px
        height: 70px
        border-radius: 50%
        margin-right: auto
        margin-left: auto
        margin-top: -0%
        background: $primary-color-background

      .add-contact-input-user
        width: inherit
        font-family: $paragraphs
        font-size: 1rem
        margin: 0 auto
        padding: 5px 0
        padding-top: 7%
        color: $black
        border: none
        border-bottom: 2px solid $black
        text-align: center

      .DYM-text
        font-family: $titles
        margin-left: auto
        margin-right: auto
        padding-top: 3%

      .add-contact-did-you-mean-container
        width: 50%
        padding-top: 2%
        display: flex
        font-family: $paragraphs
        flex-direction: row
        justify-content: space-around
        margin-left: auto
        margin-right: auto
