@import './main'

.main-page
  width: 100%
  height: 100vh

  header
    width: 100%
    height: 100px
    display: flex
    justify-content: center
    align-items: center
    gap: 20px
    border-bottom: 2px solid $grey-border

    .main-page-logout-icon
      width: 40px
      height: 40px
      cursor: pointer

    .main-page-profile-picture
      width: 70px
      object-fit: cover
      border-radius: 50%
      margin: 15px
    
    .main-page-add-contact-icon
      width: 50px
      height: 50px
      cursor: pointer

  section
    width: 100%
    height: calc(100% - 100px)

    aside
      width: 30%
      min-width: 350px
      height: 100%
      border-right: 2px solid $grey-border

  .add-contact-background
    width: 100%
    height: 100vh
    position: absolute
    top: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.5)

    .add-contact-card
      width: 50%
      height: 70%
      background-color: $white
